
@use '../../styles/partials/colors';

.next-videos-item {
    list-style: none;

    > a {
        text-decoration: none;
        color: colors.$primary-text;
    }
    &__image {
        width: 50px;
        border-radius: 0.25rem;
    }
    
}