
@use '../../styles/partials/mixins';
@use '../../styles/partials/colors';

.upload-page {
    @include mixins.divider-line-1px-top;
    @include mixins.padding-16px-left;
    @include mixins.padding-16px-right;
    @include mixins.padding-16px-bottom;

    &__container {
        @include mixins.desktop {
            display: flex;
        }
    }

    &__title {
        margin-top: 1.5rem;
        margin-bottom: 1.25rem;

        @include mixins.tablet {
            @include mixins.divider-line-1px-bottom;
            margin-top: 2.5rem;   
            padding-bottom: 1.5rem;
            
        }
        @include mixins.desktop {
            margin-bottom: 1.5rem;
        }
    }

    @include mixins.tablet {
        @include mixins.padding-36px-left;
        @include mixins.padding-36px-right;
        padding-bottom: 0.5rem;
    }
    @include mixins.desktop {
        padding-left: 7.5rem;
        padding-right: 7.5rem;
    }
}

.upload-page-thumbnail {
    &__preview {
        width: 100%;
        height: auto;
        border-radius: 0.25rem;
        margin-bottom: 0.8rem;

        @include mixins.tablet {
            max-width: 50%; 
        }
        @include mixins.desktop {
            width: 100%;
            max-width: 308px;
        }
    }
    @include mixins.desktop {
        @include mixins.divider-line-1px-bottom;
        width: 29.5rem;
        padding-right: 1.5rem; 
        height: 13.54rem;
    }
}

.upload-page-form {
    &__buttons {
        @include mixins.tablet {
            @include mixins.divider-line-1px-top;
            padding-top: 1.25rem; 
            display: flex;
            justify-content: flex-end;
        }
    }
    @include mixins.desktop {
        width: 100%;
    }
}

#videoTitle {
    width: 100%;
    margin-bottom: 1rem;

    @include mixins.tablet {
        height: 2.25rem;
    }
}

#videoDescription {
    margin-bottom: 1.25rem;

    @include mixins.tablet {
        height: 5.25rem;
    }
    @include mixins.desktop {
        margin-bottom: 1.5rem;
    }
}

.publish-button {
    @include mixins.button;
    background-image: url('../../assets/icons/publish.svg');
    background-position: 0.75rem center;
    background-size: 1.25rem;

    margin-bottom: 1.25rem;
  
    @include mixins.tablet {
      min-width: 9.375rem;
    }
  }

.cancel-button-1 {
    display: none;

    @include mixins.tablet {
        @include mixins.button-cancel;
        margin-bottom: 0.5rem;
        min-width: 9.375rem;
        padding-right: 4rem; 
    }
}

.cancel-button-2 {
    @include mixins.button-cancel;
    margin-bottom: 0.5rem;

    @include mixins.tablet {
        display: none;
    }
}