
@use '../../styles/partials/colors';
@use '../../styles/partials/typography';
@use '../../styles/partials/mixins';

.button-upload {
  @include mixins.button;
  background-image: url('../../assets/icons/upload.svg');
  background-position: 0.75rem center;
  background-size: 1.25rem;

  @include mixins.tablet {
    min-width: 9.375rem;
  }
}