
@use '../../styles/partials/colors';
@use '../../styles/partials/typography';
@use '../../styles/partials/mixins';

button {
    min-width: 100%;
    height: 2.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    text-transform: uppercase;
    color: colors.$primary-CTA-text;
    font-weight: 700;
    line-height: 1.25rem; 
    font-size: 0.75rem;
    font-family: 'AvenirNext LT Pro'; 
    background-color: colors.$primary-CTA;
    background-repeat: no-repeat;
    border-radius: 0.25rem;
    border: none;
  
    &:hover {
      cursor: pointer;
      background-color: colors.$secondary-CTA-hover; 
    }
  
    @include mixins.tablet {
      min-width: 9.375rem;
    }
}

.button-upload {
    background-image: url('../../assets/icons/upload.svg');
    background-position: 0.75rem center;
    background-size: 1.25rem;
}

.button-comment {
    background-image: url('../../assets/icons/add_comment.svg');
    background-position: 0.938rem center;
    background-size: 1.25rem;
}