
// Primary colors
$primary-text: #323232; 
$primary-CTA: #0095FF;
$primary-active-form: #0095FF;
$primary-text-secondary: #AFAFAF; 
$primary-text-label: #AFAFAF;
$primary-background: #FFFFFF;
$primary-CTA-text: #FFFFFF;

// Secondary colors
$secondary-video-components: #000000;
$secondary-CTA-hover: #0065AD;
$secondary-divider-line: #E1E1E1; 
$secondary-outline-form: #E1E1E1; 
$secondary-placeholder: #E1E1E1;
$secondary-background-form: #FAFAFA; 