
@use './variables';
@use './colors';

//..............Padding.........................
@mixin padding-16px-left {
    padding-left: 1rem;   
}

@mixin padding-16px-right {
    padding-right: 1rem;   
}

//..............Divider Line....................
@mixin divider-line-1px-top {
    border-top: solid 0.063rem colors.$secondary-divider-line; 
}

@mixin divider-line-1px-bottom {
    border-bottom: solid 0.063rem colors.$secondary-divider-line; 
}

//..............Avatars.........................
@mixin avatar-image {
    width: 2.25rem;
    height: 2.25rem;
    border-radius: 50%;
}

//..............Displays........................
@mixin tablet {
    @media (min-width: variables.$tablet-breakpoint-768px) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: variables.$desktop-breakpoint-1280px) {
        @content;
    }
}