
@use '../../styles/partials/colors';
@use '../../styles/partials/mixins';

.comment {
    @include mixins.divider-line-1px-top;
    position: relative;

    &__avatar {
        position: absolute;
        margin-top: 1rem;

        @include mixins.tablet {
            margin-top: 1.55rem;
        }
    }
}

.comment-name-date {
    display: flex;
    justify-content: space-between;
    margin-left: 3.25rem;

    &__name {
        font-weight: 700;
        margin-bottom: 0.563rem;
    }

    &__date {
        color: colors.$primary-text-secondary;
        margin-bottom: 0.563rem;
    }

    @include mixins.tablet {
        margin-left: 3.875rem;
    }
    @include mixins.desktop {
        padding-right: 1.375rem;
    }
}

.comment-description {
    margin-left: 3.25rem;
    margin-top: 0;

    @include mixins.tablet {
        margin-left: 3.875rem;
    }
    @include mixins.desktop {
        padding-right: 1.375rem;
    }
}