
@use '../../styles/partials/colors';
@use '../../styles/partials/mixins';

.comment {
    @include mixins.divider-line-1px-top;
    position: relative;

    &__image {
        position: absolute;
        background-color: colors.$secondary-avatar-placeholder;
        background-size: 2.25rem 2.25rem;
        width: 2.25rem;
        height: 2.25rem;
        border-radius: 50%;
    }
}

.comment-name-date {
    display: flex;
    justify-content: space-between;
    margin-left: 3.25rem;
}

.comment-description {
    margin-left: 3.25rem;
}