
@use '../../styles/partials/colors';
@use '../../styles/partials/typography';
@use '../../styles/partials/mixins';

.comment-form-content {
    position: relative;
    padding-bottom: 1rem;

    &__avatar {
        position: absolute;
        margin-top: 1.5rem;
        margin-right: 1rem;
    }

    &__form {
        margin-left: 3.25rem;

        @include mixins.tablet {
            display: flex;
            justify-content: space-between;
        }
    }

    @include mixins.tablet {
        padding-bottom: 0.5rem;
    }
    @include mixins.desktop {
        padding-right: 1.375rem;
    }
}

#comment {
    margin-bottom: 1rem;

    @include mixins.tablet {
        padding: 0.5rem 0.5rem 0.5rem 0.75rem;
    }
}

.comment-form-subcontainer {
    width: 100%;

    @include mixins.tablet {
        padding-left: 0.625rem;
    }
}

.comment-form-button {
    @include mixins.button;
    background-image: url('../../assets/icons/add_comment.svg');
    background-position: 0.938rem center;
    background-size: 1.25rem;

    @include mixins.tablet {
        min-width: 9.375rem;
        margin-top: 1.5rem;
        margin-left: 1.5rem;
    }
}