
@use '../../styles/partials/mixins';

.header {
    @include mixins.padding-16px-left;
    @include mixins.padding-16px-right;
    @include mixins.padding-16px-bottom;
    padding-top: 1rem;

    > div {
        @include mixins.tablet {
            display: flex;
        }
    }

    a {
        text-decoration: none;
        @include mixins.tablet {
            margin: auto 0 auto 0;
        }
    }

    &__logo {
        display: block;
        max-width: 7.5rem;
        height: 1.563rem;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 1rem;

        @include mixins.tablet {
            margin-bottom: 0;
        }
    }

    &__search {
        display: flex;
        justify-content: space-between;

        @include mixins.tablet {
            width: 15rem;
            margin-right: 1.5rem;
        }
    }

    &__avatar {
        margin-left: 0.7rem;

        @include mixins.tablet {
            display: none;
        }
    }

    &__avatar-2 {
        display: none;
        
        @include mixins.tablet {
            display: inline-block;
            margin-left: 1.5rem;
        }
        @include mixins.desktop {
            margin-right: 1.375rem;
        }
    }

    @include mixins.tablet {
        @include mixins.padding-36px-left;
        @include mixins.padding-36px-right;
        display: flex;
        justify-content: space-between;
    }

    @include mixins.desktop {
        padding-left: 7.5rem;
        padding-right: 7.5rem;
    }
}