
@use '../../styles/partials/mixins';

.current-video {
    @include mixins.padding-16px-left;
    @include mixins.padding-16px-right;

    &__player {
        aspect-ratio: 16 / 9;
        display: block;
        width: 100%;
    }

    &__info {
        @include mixins.divider-line-1px-top;
        @include mixins.divider-line-1px-bottom;

        display: flex;
        gap: 3.125rem;
    }

    &__views {
        &::before {
            content: url('../../assets/icons/views.svg'); 
        }
    }

    &__likes {
        &::before {
            content: url('../../assets/icons/likes.svg');
        }
    }
}