
@use './styles/partials/colors';
@use './styles/partials/typography';
@use './styles/partials/mixins';

input {
  border-radius: 0.25rem;
  border: solid 0.063rem colors.$secondary-outline-form;
  background-color: colors.$secondary-background-form;
  font-family: 'AvenirNext LT Pro';
  color: colors.$primary-text;

  &::placeholder {
    color: colors.$primary-text;
    opacity: 1; 
  }
}

button {
  @include mixins.button-CTA;

  &:hover {
    cursor: pointer;
    background-color: colors.$secondary-CTA-hover; 
  }
}